<app-header />

<main>
  <ul id="users">
    <!-- the ngFor here is a structural directive -->
    <li *ngFor="let user of users">
      <!-- the "user[0].avatar" after the = is how you set dynamic values, specifically the it needs to be in the "" -->
      <!-- the () around the event name is known as event binding -->
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
  </ul>

  <app-tasks
    *ngIf="selectedUser; else fallback"
    [name]="selectedUser!.name"
    [userId]="selectedUser.id"
  />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks</p>
  </ng-template>
</main>
